.wrapper {
    display: flex;
    width: 1008px;
    height: 636px;
    flex-direction: row;
    background-color: #61dafb;
}

.leftColumn {
    display: flex;
    flex-direction: column;
    width: 253px;
    background-color: #ECECF9;
}

.rightColumn {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #FEFEFF;
}